# Working with relational databases in Python

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction-to-relational-databases" data-toc-modified-id="Introduction-to-relational-databases-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction to relational databases</a></span></li><li><span><a href="#Creating-a-database-engine-in-Python" data-toc-modified-id="Creating-a-database-engine-in-Python-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Creating a database engine in Python</a></span><ul class="toc-item"><li><span><a href="#Creating-a-database-engine" data-toc-modified-id="Creating-a-database-engine-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Creating a database engine</a></span></li><li><span><a href="#Getting-table-names" data-toc-modified-id="Getting-table-names-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Getting table names</a></span></li></ul></li><li><span><a href="#Querying-relational-databases-in-Python" data-toc-modified-id="Querying-relational-databases-in-Python-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Querying relational databases in Python</a></span><ul class="toc-item"><li><span><a href="#The-Hello-World-of-SQL-Queries!" data-toc-modified-id="The-Hello-World-of-SQL-Queries!-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>The Hello World of SQL Queries!</a></span></li><li><span><a href="#Customizing-the-Hello-World-of-SQL-Queries" data-toc-modified-id="Customizing-the-Hello-World-of-SQL-Queries-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Customizing the Hello World of SQL Queries</a></span></li><li><span><a href="#Filtering-your-database-records" data-toc-modified-id="Filtering-your-database-records-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Filtering your database records</a></span></li><li><span><a href="#Ordering-your-SQL-records" data-toc-modified-id="Ordering-your-SQL-records-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Ordering your SQL records</a></span></li></ul></li><li><span><a href="#Querying-relational-databases-directly-with-pandas" data-toc-modified-id="Querying-relational-databases-directly-with-pandas-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Querying relational databases directly with pandas</a></span><ul class="toc-item"><li><span><a href="#Pandas-and-The-Hello-World-of-SQL-Queries!" data-toc-modified-id="Pandas-and-The-Hello-World-of-SQL-Queries!-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Pandas and The Hello World of SQL Queries!</a></span></li><li><span><a href="#Pandas-for-more-complex-querying" data-toc-modified-id="Pandas-for-more-complex-querying-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Pandas for more complex querying</a></span></li></ul></li><li><span><a href="#Advanced-Querying:-exploiting-table-relationships" data-toc-modified-id="Advanced-Querying:-exploiting-table-relationships-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Advanced Querying: exploiting table relationships</a></span><ul class="toc-item"><li><span><a href="#The-power-of-SQL-lies-in-relationships-between-tables:-INNER-JOIN" data-toc-modified-id="The-power-of-SQL-lies-in-relationships-between-tables:-INNER-JOIN-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>The power of SQL lies in relationships between tables: INNER JOIN</a></span></li><li><span><a href="#Filtering-your-INNER-JOIN" data-toc-modified-id="Filtering-your-INNER-JOIN-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Filtering your INNER JOIN</a></span></li></ul></li><li><span><a href="#Summary-of-CH1---CH3" data-toc-modified-id="Summary-of-CH1---CH3-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Summary of CH1 - CH3</a></span></li></ul></div>

## Introduction to relational databases

- What is a relational database?
    - Based on relational model of data 
    - First described by Edgar “Ted” Codd
- Relational model
    - Widely adopted
    - There are relations between tables.
        - Every table contains a primary key column, which has a unique entry for each row.
        - Each row or record in a table represents an instance of an entity type.
        - Each column in a table represents an attribute or feature of an instance.
    - Todd’s 12 Rules/Commandments
        - Consists of 13 rules (zero-indexed!)
        - Describes what a Relational Database Management System should adhere to to be considered relational
- Relational Database Management Systems
   - SQL = Structured Query Language
   - PostgreSQL
   - MySQL
   - SQLite   
- Querying
    - Fancy way of saying getting data out from the database

## Creating a database engine in Python

- SQLite database 
    - Fast and simple
    - With enough functionality to interduce you to all the neessary concepts of querying a database
- Packages to access SQLite database
    - SQLAlchemy
        - Works with many Relational Database Management Systems
            - such as PostgreSQL and MySQL
    - sqlite3
- Creating a database engine
        In [1]: from sqlalchemy import create_engine
        In [2]: engine = create_engine('sqlite:///Northwind.sqlite')
                                                 'type of database:///name of database'
- Getting table names
        In [3]: table_names = engine.table_names()

### Creating a database engine
- pip install sqlalchemy

In [1]:
# Import necessary module
from sqlalchemy import create_engine

# Create engine: engine
engine = create_engine('sqlite:///exercise/Chinook.sqlite')

### Getting table names

In [2]:
# Save the table names to a list: table_names
table_names = engine.table_names()

# Print the table names to the shell
print(table_names)

['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

## Querying relational databases in Python

- Basic SQL query
    - Returns all columns of all rows of the table Example:
            SELECT * FROM Table_Name
- How to make a query using python?
    - We’ll use SQLAlchemy and pandas(to store the result)
- Workflow of SQL querying
    1. Import packages and functions
            In [1]: from sqlalchemy import create_engine
            In [2]: import pandas as pd
    2. Create the database engine 
            In [3]: engine = create_engine('sqlite:///Northwind.sqlite')
    3. Connect to the engine
            In [4]: con = engine.connect()
    4. Query the database
            In [5]: rs = con.execute("SELECT * FROM Orders")
    5. Save query results to a DataFrame 
            In [6]: df = pd.DataFrame(rs.fetchall())    #fetch all, 取出全部
    6. Close the connection
            In [7]: con.close()
- Addition
    - Set the DataFrame column names
            df.columns = rs.keys()    # before 6. Close the connection
    - Using the context manager
            In [1]: from sqlalchemy import create_engine
            In [2]: import pandas as pd
            In [3]: engine = create_engine('sqlite:///Northwind.sqlite')
            In [4]: with engine.connect() as con:
                        df = pd.DataFrame(rs.fetchmany(size=5))   #fetch many, 取出size個
                        df.columns = rs.keys()

### The Hello World of SQL Queries!

In [3]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///exercise/Chinook.sqlite')

# Open engine connection: con
con = engine.connect()

# Perform query: rs
rs = con.execute('SELECT * from Album')

# Save results of the query to DataFrame: df
df = pd.DataFrame(rs.fetchall())

# Close connection
con.close()

# Print head of DataFrame df
print(df.head())

   0                                      1  2
0  1  For Those About To Rock We Salute You  1
1  2                      Balls to the Wall  2
2  3                      Restless and Wild  2
3  4                      Let There Be Rock  1
4  5                               Big Ones  3

### Customizing the Hello World of SQL Queries
- Select specified columns from a table;
- Select a specified number of rows;
- Import column names from the database table.

In [4]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///exercise/Chinook.sqlite')

# Open engine in context manager
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute('SELECT LastName, Title FROM Employee')
    df = pd.DataFrame(rs.fetchmany(size=3))
    df.columns = rs.keys()

# Print the length of the DataFrame df
print(len(df))

# Print the head of the DataFrame df
print(df.head())

3
  LastName                Title
0    Adams      General Manager
1  Edwards        Sales Manager
2  Peacock  Sales Support Agent

### Filtering your database records 
- With「WHERE」 clause

In [5]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///exercise/Chinook.sqlite')

# Open engine in context manager
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute('SELECT * FROM Employee WHERE EmployeeId >= 6')
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

# Print the head of the DataFrame df
print(df.head())

   EmployeeId  LastName FirstName       Title  ReportsTo            BirthDate  \
0           6  Mitchell   Michael  IT Manager          1  1973-07-01 00:00:00
1           7      King    Robert    IT Staff          6  1970-05-29 00:00:00
2           8  Callahan     Laura    IT Staff          6  1968-01-09 00:00:00

              HireDate                      Address        City State Country  \
0  2003-10-17 00:00:00         5827 Bowness Road NW     Calgary    AB  Canada
1  2004-01-02 00:00:00  590 Columbia Boulevard West  Lethbridge    AB  Canada
2  2004-03-04 00:00:00                  923 7 ST NW  Lethbridge    AB  Canada

  PostalCode              Phone                Fax                    Email
0    T3B 0C5  +1 (403) 246-9887  +1 (403) 246-9899  michael@chinookcorp.com
1    T1K 5N8  +1 (403) 456-9986  +1 (403) 456-8485   robert@chinookcorp.com
2    T1H 1Y8  +1 (403) 467-3351  +1 (403) 467-8772    laura@chinookcorp.com

### Ordering your SQL records
- with 「ORDER BY」clause

In [6]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///exercise/Chinook.sqlite')

# Open engine in context manager
with engine.connect() as con:
    rs = con.execute('SELECT * FROM Employee ORDER BY BirthDate')
    df = pd.DataFrame(rs.fetchall())

    # Set the DataFrame's column names
    df.columns = rs.keys()

# Print head of DataFrame
print(df.head())

   EmployeeId  LastName FirstName                Title  ReportsTo  \
0           4      Park  Margaret  Sales Support Agent        2.0
1           2   Edwards     Nancy        Sales Manager        1.0
2           1     Adams    Andrew      General Manager        NaN
3           5   Johnson     Steve  Sales Support Agent        2.0
4           8  Callahan     Laura             IT Staff        6.0

             BirthDate             HireDate              Address        City  \
0  1947-09-19 00:00:00  2003-05-03 00:00:00     683 10 Street SW     Calgary
1  1958-12-08 00:00:00  2002-05-01 00:00:00         825 8 Ave SW     Calgary
2  1962-02-18 00:00:00  2002-08-14 00:00:00  11120 Jasper Ave NW    Edmonton
3  1965-03-03 00:00:00  2003-10-17 00:00:00         7727B 41 Ave     Calgary
4  1968-01-09 00:00:00  2004-03-04 00:00:00          923 7 ST NW  Lethbridge

  State Country PostalCode              Phone                Fax  \
0    AB  Canada    T2P 5G3  +1 (403) 263-4423  +1 (403) 263-4289
1    AB  Canada    T2P 2T3  +1 (403) 262-3443  +1 (403) 262-3322
2    AB  Canada    T5K 2N1  +1 (780) 428-9482  +1 (780) 428-3457
3    AB  Canada    T3B 1Y7   1 (780) 836-9987   1 (780) 836-9543
4    AB  Canada    T1H 1Y8  +1 (403) 467-3351  +1 (403) 467-8772

                      Email
0  margaret@chinookcorp.com
1     nancy@chinookcorp.com
2    andrew@chinookcorp.com
3     steve@chinookcorp.com
4     laura@chinookcorp.com

## Querying relational databases directly with pandas

- pd.read_sql_query()
        pd.read_sql_query('SELECT * FROM Album', engine)
                                        'query' , the engine you create

### Pandas and The Hello World of SQL Queries!

In [7]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///exercise/Chinook.sqlite')

# Execute query and store records in DataFrame: df
df = pd.read_sql_query('SELECT * FROM Album', engine)

# Print head of DataFrame
print(df.head())

# Open engine in context manager and store query result in df1
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Album")
    df1 = pd.DataFrame(rs.fetchall())
    df1.columns = rs.keys()

# Confirm that both methods yield the same result
print(df.equals(df1))

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3
True

### Pandas for more complex querying

In [8]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///exercise/Chinook.sqlite')

# Execute query and store records in DataFrame: df
df = pd.read_sql_query('SELECT * FROM Employee \
                                    WHERE EmployeeId >= 6 ORDER BY BirthDate', engine)

# Print head of DataFrame
print(df.head())

   EmployeeId  LastName FirstName       Title  ReportsTo            BirthDate  \
0           8  Callahan     Laura    IT Staff          6  1968-01-09 00:00:00
1           7      King    Robert    IT Staff          6  1970-05-29 00:00:00
2           6  Mitchell   Michael  IT Manager          1  1973-07-01 00:00:00

              HireDate                      Address        City State Country  \
0  2004-03-04 00:00:00                  923 7 ST NW  Lethbridge    AB  Canada
1  2004-01-02 00:00:00  590 Columbia Boulevard West  Lethbridge    AB  Canada
2  2003-10-17 00:00:00         5827 Bowness Road NW     Calgary    AB  Canada

  PostalCode              Phone                Fax                    Email
0    T1H 1Y8  +1 (403) 467-3351  +1 (403) 467-8772    laura@chinookcorp.com
1    T1K 5N8  +1 (403) 456-9986  +1 (403) 456-8485   robert@chinookcorp.com
2    T3B 0C5  +1 (403) 246-9887  +1 (403) 246-9899  michael@chinookcorp.com

## Advanced Querying: exploiting table relationships

- Recall that tables in Relational model are linked
- Exploiting table relationships
    - with 「INNER JOIN」clause
            query = 'SELECT Title, Name FROM Album INNER JOIN Artist on Album.ArtistID = Artist.ArtistID'
    - 拆成這樣看
        - SELECT Title, Name
            - 選擇 Title, Name 這兩個 column
        - FROM Album INNER JOIN Artist
            - 從 Album 與 Artist 這兩個 table 合起來的 table
        - on Album.ArtistID = Artist.ArtistID
            - 合起來條件是：當 Album 中的 ArtistID column 等於 Artist 中的 ArtistID column 的時候
    - 換句話說就是把兩個 table 中都有的 ArtistID 當作連結

### The power of SQL lies in relationships between tables: INNER JOIN

In [9]:
# Open engine in context manager
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute('SELECT Title, Name \
    FROM Album INNER JOIN Artist on Album.ArtistID = Artist.ArtistID')
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

# Print head of DataFrame df
print(df.head())

                                   Title       Name
0  For Those About To Rock We Salute You      AC/DC
1                      Balls to the Wall     Accept
2                      Restless and Wild     Accept
3                      Let There Be Rock      AC/DC
4                               Big Ones  Aerosmith

### Filtering your INNER JOIN

In [10]:
# Execute query and store records in DataFrame: df
df = pd.read_sql_query('SELECT * \
                                    FROM PlaylistTrack INNER JOIN Track \
                                    on PlaylistTrack.TrackId = Track.TrackId \
                                    WHERE Milliseconds < 250000 \
                                    ORDER BY Name', engine)

# Print head of DataFrame
print(df.head())

   PlaylistId  TrackId  TrackId                                     Name  \
0           1     3027     3027                                     "40"
1           8     3027     3027                                     "40"
2           1     3045     3045  (I Can't Help) Falling In Love With You
3           5     3045     3045  (I Can't Help) Falling In Love With You
4           8     3045     3045  (I Can't Help) Falling In Love With You

   AlbumId  MediaTypeId  GenreId Composer  Milliseconds    Bytes  UnitPrice
0      239            1        1       U2        157962  5251767       0.99
1      239            1        1       U2        157962  5251767       0.99
2      241            1        8     None        207568  6905623       0.99
3      241            1        8     None        207568  6905623       0.99
4      241            1        8     None        207568  6905623       0.99

## Summary of CH1 - CH3

- What you’ve learned:
    - Relational databases 
    - Queries
        - SELECT
        - WHERE
        - JOIN
- Next course:
    - Scrape data from the web 
    - Interact with APIs